@import url('https://fonts.googleapis.com/css2?family=Young+Serif&family=Albert+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Albert Sans', sans-serif;
}

.font-serif {
  font-family: 'Young Serif', serif;
}

.font-sans {
  font-family: 'Albert Sans', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
